.Input
  display: flex
  flex-direction: column
  gap: 15px
  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    span
      color: #ED333E
  input
    padding: 8px 12px
    width: 377px
    flex-shrink: 1
    background: #FFFFFF
    border: none
    border-radius: 8px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    display: flex
    align-items: center
    color: rgba(0, 0, 0, 0.88)
  input:focus
    outline: none

.inputContainer
  display: flex
  border: 1px solid #D9D9D9
  border-radius: 8px
  width: 377px

.select
  background-color: #D9D9D9
  flex-shrink: 0
  width: 50px
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px

.dropdownMenu
  position: absolute
  transform: translateY(18px)
  background-color: #cc2929