.Header
  position: fixed
  top: 0
  background: #5AAE81
  width: 100%
  z-index: 1000
  min-height: 48px
  .headerContent
    padding: 12px
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
.burger
  z-index: 3
  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 22px
    align-items: center
    color: #FFFFFF
    padding: 4px 0
    text-align: center
  .user
    display: flex
    justify-content: center
    align-items: center
    gap: 10px
  .avatarUrl
    width: 24px
    height: 24px
    transform: matrix(1, 0, 0, 1, 0, 0)
    border-radius: 50%
.InputHeader
  padding: 12px
  display: flex
  height: 52px
  gap: 15px
  align-items: center
  form
    width: 100%
  input
    width: 100%
    background-color: #5AAE81
    border: none
    border-bottom: 1px solid white
    margin: 0 0 2px 0
    outline: none
    ont-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 22px
    color: #FFFFFF
    padding-left: 3px
.logo
  padding: 2px 0 0 0