.Register
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  .login
    display: flex
    align-items: center
    flex-direction: row-reverse
    gap: 11px
    justify-content: center
    text-decoration: none
    font-family: 'Roboto'
    font-weight: 400
    font-size: 14px
    line-height: 22px
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    width: 205px
    margin: 0 auto
    svg
      margin-top: -1px
      transform: rotateY(180deg)
  .RegisterContent
    display: flex
    flex-direction: column
    height: 100%
    h1
      margin-top: 9px
    .field
      margin-top: 30px
      display: flex
      justify-content: center
    .text
      margin: 15px 20px 0 20px
      max-width: 352px
    .error
      height: 22px
      margin: 15px 20px 0 20px
    button
      margin-top: 18px
      margin: 15px auto 0 auto
  
  
  
// .Register
//   width: 100%
//   display: flex
//   flex-direction: column
//   justify-content: space-between
//   height: 100%
//   margin-top: 9px
//   p:first-of-type
//     margin-bottom: 7px
//   .RegisterContent
//     display: flex
//     flex-direction: column
//     height: 100%
//     align-items: center
//     h1
//       margin-bottom: 30px
//     .field
//       margin-bottom: 30px
//     button
// .forgot
//   font-family: 'Roboto'
//   font-weight: 400
//   line-height: 22px
//   text-align: center
//   color: rgba(0, 0, 0, 0.5)
//   text-decoration: none
// .login
//   display: flex
//   align-items: center
//   gap: 11px
//   justify-content: center
//   flex-direction: row-reverse
//   a
//     text-decoration: none
//     font-family: 'Roboto'
//     font-weight: 400
//     font-size: 14px
//     line-height: 22px
//     text-align: center
//     color: rgba(0, 0, 0, 0.5)
//   svg
//     margin-top: -1px
//     transform: rotateY(180deg)
// .error
//   bottom: 150px
//   text-align: center
//   width: 100%
//   margin: 0