.Popular
  position: relative
  .image
    position: relative
    width: 420px
    height: 480px
    border-radius: 30px
  p
    position: absolute
    top: 228px
    right: 0
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 60px
    line-height: 60px
    color: #79E6B1
    text-align: right
    z-index: 1
  .black
    position: absolute
    top: 0
    left: 0
    width: 420px
    height: 480px
    border-radius: 30px
    background: rgba(0, 0, 0, 0.3)