.Posts
  padding: 75px 40px
  h1
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 30px
    line-height: 30px
    color: #000000
    margin-bottom: 42px
  .events
    display: flex
    gap: 50px
    flex-wrap: wrap