.Posts
  padding: 75px 15px
  .postContent
    max-width: 1440px
    margin: 0 auto
    h1
      font-family: 'Roboto'
      font-style: normal
      font-weight: 400
      font-size: 30px
      line-height: 30px
      color: #000000
      margin-bottom: 42px
      margin-top: 25px
    .events
      display: flex
      flex-wrap: wrap
      justify-content: space-around
    .mobileEvents
      justify-content: center

@media (max-width: 455px)
  .Posts
    padding: 75px 0
    h1
      padding-right: 15px
      padding-left: 15px
.postFilter
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  gap: 15px
  .filterTabs
    display: flex
    gap: 15px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    align-items: center
  .filterTools
    display: flex
    gap: 15px
    align-items: center
    flex-wrap: wrap-reverse
.CheckBox
  margin-top: 5px
  width: 285px

@media (max-width: 1340px)
  .postFilter
    flex-direction: column-reverse
@media (max-width: 455px)
  .postFilter
    padding-right: 15px
    padding-left: 15px