.Header
  position: fixed
  top: 48px
  z-index: 1000
  background: #5AAE81
  width: 100%
  display: flex
  padding: 12px 40px
  gap: 32px
  button
    margin: 0
    padding: 0
    background: none
    border: none
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 22px
    display: flex
    align-items: center
    color: #FFFFFF
    text-decoration: none