.AccountInfo
  margin-top: 50px
  width: 100%
  background: #FFFFFF
  padding: 25px 50px 0 50px
  z-index: 1
  .accContent
    max-width: 1440px
    margin: 0 auto
    padding-bottom: 15px

.ProfileInfo
  display: flex
  flex-wrap: wrap
  gap: 50px 40px
  @media (max-width: 507px)
    justify-content: space-around
.ProfileName
  font-family: 'Roboto'
  font-style: normal
  font-size: 24px
  line-height: 28px
  color: rgba(0, 0, 0, 0.85)
  margin-bottom: 15px
  max-width: 320px
  @media (max-width: 507px)
    text-align: center
.ProfileDescription
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 19px
  color: rgba(0, 0, 0, 0.85)
  margin-bottom: 15px
  max-width: 320px
  padding: 0 5px
  overflow-wrap: break-word


.ProfileTools
  margin-left: auto
  display: flex
  flex-wrap: wrap
  gap: 15px
  @media (max-width: 1004px)
    margin: 0 
  @media (max-width: 507px)
    justify-content: space-around
.addsvg
  display: flex
  height: 100%
  align-items: center
  justify-content: center
  margin-left: 16px
.flexwrap
  display: flex
  flex-wrap: wrap
.mobileLogout
  position: absolute
  left: 90%
  scale: 1.3
