.postFilter
  display: flex
  justify-content: space-between
  .filterTabs
    display: flex
    gap: 15px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
  .filterTools
    display: flex
    gap: 15px
.CheckBox
  margin-top: 5px