.Post
  .postContent
    max-width: 1440px
    margin: 0 auto
  .preview
    margin-top: 48px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100%
    max-width: 1440px
    height: 610px
    position: relative
    .image
      position: absolute
      top: 0
      left: 0
      max-width: 1440px
      height: 610px
      z-index: -1
    .black
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, 0.6)
      display: flex
      flex-direction: column
      justify-content: space-between
      .arrow
        border: none
        background: initial
        margin: 0
        padding: 0
        cursor: default
        display: flex
        svg
          cursor: pointer
      .description
        margin: 0 40px 40px 40px
        color: white
        font-family: 'Roboto'
        .typedate
          font-weight: 400
          font-size: 30px
          line-height: 30px
          color: rgba(255, 255, 255, 0.88)
        .name
          font-weight: 600
          font-size: 40px
          line-height: 30px
          color: rgba(255, 255, 255, 0.85)
          margin-top: 20px
        .avatarauthor
          display: flex
          gap: 11px
          align-items: center
          font-style: normal
          font-weight: 400
          font-size: 30px
          line-height: 30px
          color: rgba(255, 255, 255, 0.88)
          margin-top: 35px
          img
            width: 40px
            height: 40px
            border-radius: 100px
        .buttons
          margin-top: 40px
          display: flex
          gap: 20px
          border: none
.content
  max-width: 1440px
  width: 100%
  padding: 0 40px
  .optional
    margin-top: 40px
    background: #FFFFFF
    box-shadow: 0px 10px 4px rgba(217, 217, 217, 0.25)
    border-radius: 70px
    .show
      cursor: pointer
      width: 100%
      border: none
      margin: 0
      padding: 0
      display: flex
      background: none
      justify-content: space-between
      align-items: center
      padding: 20px 40px
      outline: none
      -webkit-tap-highlight-color: transparent
      z-index: 1
      position: relative
      background: #FFFFFF
      border-radius: 70px
      h3
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 40px
        color: #000000
      .optionalWrapper
        height: 40px
        width: 40px
        border-radius: 100px
        transition: 600ms
    .hidden
      border-top: 1px solid #E4E4E4
      padding: 20px 40px
      display: flex
      column-gap: 50px
      row-gap: 10px
      transition: 500ms
      margin-top: -106px
      opacity: 0
      flex-wrap: wrap
    button:focus
      outline: none
      -webkit-tap-highlight-color: transparent
  .about
    margin-top: 50px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 600
    font-size: 30px
    line-height: 30px
    color: rgba(0, 0, 0, 0.88)
  .text
    margin-top: 15px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 40px
    color: rgba(0, 0, 0, 0.88)
  .submit
    padding: 40px 0 80px 0
.Link
  text-decoration: none

.postHeader
  display: flex
  justify-content: space-between
  align-items: center
  margin: 40px 40px 0 40px
.star
  margin: 5px 5px 0 0

.starButton
  border-radius: 6px
  background-color: #5AAE81
  border: none
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016)
  cursor: pointer
  display: flex
  align-items: center
  transition: 0.2s
  &:hover
    background-color: #7CCCA1
    transition: 0.3s
  &:active
    background-color: #419467
    transition: 0.2s

@media (max-width: 1439px)
  .Post
    .postContent
      .preview
        width: 100vw
        height: calc(100vw * 0.423611)
        .image
          width: 100vw
          height: calc(100vw * 0.423611)

@media (max-width: 950px)
  .Post
    .preview
      .black
        .description
          .typedate
            font-size: 22px
          .name
            font-size: 24px

@media (max-width: 750px)
  .Post
    .preview
      .black
        .description
          .avatarauthor
            margin-top: 10px
          .name
            margin-top: 10px
          .buttons
            margin-top: 10px

@media (max-width: 700px)
  .nameAvatar
    display: flex
    gap: 20px
    align-items: center
    flex-direction: row-reverse
    justify-content: flex-end

@media (max-width: 580px)
  .postHeader
    margin-top: 20px

@media (max-width: 425px)
  .Post
    .preview
      .black
        background: rgba(0,0,0,0)
        .arrow
          background-color: rgba(0,0,0,1)
        .description
          .name
            font-size: 18px
  .content
    padding: 0 10px
    .about
      margin-top: 14px
      font-size: 18px
    .text
      font-size: 16px
      margin-top: 10px
    .submit
      padding-top: 15px
  .star
    background-color: rgba(0,0,0,1)
