.Post
  .postContent
    max-width: 1440px
    margin: 0 auto
  .preview
    margin-top: 48px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100%
    max-width: 1440px
    height: 610px
    position: relative
    z-index: 1
    .image
      position: absolute
      top: 0
      left: 0
      max-width: 1440px
      height: 610px
      z-index: -1
    .black
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, 0.6)
      display: flex
      flex-direction: column
      justify-content: space-between
      .arrow
        border: none
        background: initial
        margin: 0
        padding: 0
        cursor: default
        display: flex
        svg
          cursor: pointer
      .description
        margin: 0 40px 40px 40px
        color: white
        font-family: 'Roboto'
        .typedate
          font-weight: 400
          font-size: 30px
          line-height: 30px
          color: rgba(255, 255, 255, 0.88)
        .name
          font-weight: 600
          font-size: 40px
          line-height: 30px
          color: rgba(255, 255, 255, 0.85)
          margin-top: 20px
        .avatarauthor
          display: flex
          gap: 11px
          align-items: center
          font-style: normal
          font-weight: 400
          font-size: 30px
          line-height: 30px
          color: rgba(255, 255, 255, 0.88)
          margin-top: 35px
          img
            width: 40px
            height: 40px
            border-radius: 100px
        .buttons
          margin-top: 40px
          display: flex
          gap: 20px
          border: none
.content
  max-width: 1440px
  width: 100%
  padding: 0 40px
  .optional
    background: #FFFFFF
    box-shadow: 0px 10px 4px rgba(217, 217, 217, 0.25)
    border-radius: 70px
    .show
      cursor: pointer
      width: 100%
      border: none
      margin: 0
      padding: 0
      display: flex
      background: none
      justify-content: space-between
      align-items: center
      padding: 60px 40px 20px 40px
      outline: none
      -webkit-tap-highlight-color: transparent
      z-index: 1
      position: relative
      background: #FFFFFF
      border-bottom-left-radius: 70px
      border-bottom-right-radius: 70px
      h3
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 40px
        color: #000000
      .optionalWrapper
        height: 40px
        width: 40px
        border-radius: 100px
        transition: 600ms
    .hidden
      border-top: 1px solid #E4E4E4
      padding: 20px 40px
      display: flex
      column-gap: 50px
      row-gap: 10px
      transition: 500ms
      margin-top: -106px
      opacity: 0
      flex-wrap: wrap
      justify-content: space-between
    button:focus
      outline: none
      -webkit-tap-highlight-color: transparent
  .about
    margin-top: 50px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 600
    font-size: 30px
    line-height: 30px
    color: rgba(0, 0, 0, 0.88)
  .text
    margin-top: 15px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 40px
    color: rgba(0, 0, 0, 0.88)
    padding-bottom: 100px
  .submit
    padding: 40px 0 80px 0
.Link
  text-decoration: none

.postHeader
  display: flex
  justify-content: space-between
  align-items: center
  margin: 40px 40px 0 40px
.star
  margin: 0 0 0 5px
.starButton
  border-radius: 6px
  background-color: #5AAE81
  border: none
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016)
  cursor: pointer
  display: flex
  align-items: center
  transition: 0.2s
  &:hover
    background-color: #7CCCA1
    transition: 0.3s
  &:active
    background-color: #419467
    transition: 0.2s
.MobileContent
  display: flex
  gap: 16px
  z-index: 1
  position: relative
  background-color: white
  width: 100%
  padding-top: 16px
  width: 100%
  flex-wrap: wrap
  align-items: center
.MobileTypeDate
  font-family: 'Roboto'
  font-weight: 400
  font-size: 30px
  line-height: 30px
  color: rgba(0, 0, 0, 0.88)
  font-size: 22px
.MobileAuthor
  font-family: 'Roboto'
  display: flex
  gap: 11px
  align-items: center
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 30px
  color: rgba(255, 255, 255, 0.88)
  img
    width: 30px
    height: 30px
    border-radius: 100px

.cross
  margin: 0
  padding: 0
  background-color: unset
  border: none
  position: absolute
  right: 15px
  top: 15px
  height: 38px
  cursor: pointer


@media (max-width: 1439px)
  .Post
    .postContent
      .preview
        width: 100vw
        height: calc(100vw * 0.423611)
        .image
          width: 100vw
          height: calc(100vw * 0.423611)

@media (max-width: 940px)
  .Post
    .preview
      .black
        .description
          .typedate
            font-size: 26px
          .name
            font-size: 26px
          .avatarauthor
            margin-top: 20px
            font-size: 26px
          .buttons
            margin-top: 20px
  .content
    .about
      font-size: 26px
    .text
      font-size: 18px
      line-height: 28px
    .optional
      .show
        h3
          font-size: 18px

@media (max-width: 770px)
  .Post
    .preview
      .black
        .description
          .typedate
            font-size: 22px
          .name
            margin-top: 10px
            font-size: 22px
          .avatarauthor
            margin-top: 10px
            font-size: 22px
          .buttons
            margin-top: 10px
  .content
    .submit
      padding-top: 30px
    .about
      margin-top: 30px
      font-size: 22px
    .text
      font-size: 16px
      line-height: 28px
    .optional
      .show
        h3
          font-size: 16px

@media (max-width: 770px)
  .Post
    .preview
      .black
        .postHeader
          margin-top: 20px

@media (max-width: 570px)
  .Post
    .preview
      .black
        .description
          margin-bottom: 20px
  .buttons
    margin-top: 20px
    z-index: 2
  .content
    .optional
      .show
        padding-top: 30px

@media (max-width: 530px)
  .Post
    .preview
      .black
        .description
          .typedate
            font-size: 20px
          .name
            font-size: 20px
          .avatarauthor
            font-size: 20px
            img
              width: 20px
              height: 20px
  .content
    padding: 0 15px
    .about
      font-size: 20px
    .text
      font-size: 14px
      line-height: 24px
    .optional
      .show
        h3
          font-size: 14px
  .Post
    .preview
      .black
        .postHeader
          margin: 15px 15px 0 15px
        .description
          margin: 0 15px 15px 15px

@media (max-width: 459px)
  .Post
    .preview
      .black
        .description
          .typedate
            font-size: 14px
            line-height: 10px
          .name
            font-size: 16px
            line-height: 20px
          .avatarauthor
            gap: 8px
            font-size: 14px
            line-height: 10px
            img
              width: 16px
              height: 16px

@media (max-width: 360px)
  .Post
    .preview
      .black
        .description
          .name
            font-size: 14px
          .avatarauthor
            gap: 5px
            font-size: 10px
            line-height: 10px
          .typedate
            font-size: 10px
            line-height: 10px

@media (max-width: 319px)
  .Post
    .preview
      .black
        .description
          .name
            margin: 0
          .avatarauthor
            margin: 0
          .typedate
            margin: 0

@media (max-width: 260px)
  .Post
    .preview
      .black
        .postHeader
          margin-top: 5px
        .description
          margin-bottom: 5px