.NavbarButton
  height: 40px
  padding: 0 15px
  border-radius: 10px 10px 0 0
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  display: flex
  align-items: center
  color: #5AAE81
  margin: 0 25px
  &:hover
    background-color: #e6e6e6
    cursor: pointer
