.EventCard
  text-decoration: none
  flex-shrink: 0
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25)
  border-radius: 30px
  margin-bottom: 40px
  width: 420px
  height: 349px
.wrapper
  display: flex
  flex-direction: column
  max-width: 420px
  flex-shrink: 0
  position: relative
  .starBackground:focus
    outline: none
  .preview
    height: 178px
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    border-top-left-radius: 30px
    border-top-right-radius: 30px
  .content
    display: flex
    flex-direction: column
    padding: 13px 30px 20px 30px
    gap: 8px
    .avatarauthor
      display: flex
      align-items: center
      gap: 10px
      img
        width: 30px
        height: 30px
        border-radius: 24px
      .author
        font-family: 'Roboto'
        font-size: 16px
        line-height: 30px
        color: #919191
    .name
      font-family: 'Roboto'
      font-size: 20px
      line-height: 30px
      color: rgba(0, 0, 0, 0.85)
    
    .date
      font-family: 'Roboto'
      font-size: 16px
      line-height: 30px
      color: rgba(0, 0, 0, 0.85)
      display: inline-block
  .buttons
    padding: 13px 30px  30px
    display: flex

    gap: 13px
    .reg
      font-family: 'Roboto'
      font-weight: 300
      font-size: 14px
      line-height: 22px
      text-align: center
      color: #FFFFFF
      background: #5AAE81
      border: 1px solid #5AAE81
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043)
      border-radius: 6px
      padding: 4px 15px
      cursor: pointer
    .favorite
      padding: 4px 15px
      display: flex
      align-items: center
      gap: 10px
      background: #FFFFFF
      border: 1px solid #D9D9D9
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016)
      border-radius: 6px
      cursor: pointer

.Link
  text-decoration: none

.lasted
  position: absolute
  top: 20px
  left: 20px
  padding: 1px 8px
  background: #F36666
  border-radius: 15px
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 20px
  color: #000000

.type
  font-family: 'Roboto'
  font-size: 16px
  line-height: 30px
  color: rgba(0, 0, 0, 0.85)

.star
  position: absolute
  top: 20px
  right: 20px

@media (max-width: 425px)
  .EventCard
    width: 100vw
    height: calc(100vw * 0.423611 + 170px)
    .wrapper
      max-width: 100vw
      .preview
        height: calc(100vw * 0.423611)