.Description
  display: flex
  flex-direction: column
  gap: 5px
  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 30px
  .name
    color: #919191

@media (max-width: 940px)
  .Description
    p
      font-size: 18px

@media (max-width: 770px)
  .Description
    p
      font-size: 16px

@media (max-width: 530px)
  .Description
    p
      font-size: 14px