.profileEvents
  padding-bottom: 100px
  padding-top: 40px
  .eventsContent
    max-width: 1440px
    margin: 0 auto
    padding: 0 15px
    display: grid
    grid-template-columns: repeat(auto-fit, 420px)
    grid-auto-rows: 349px
    grid-row-gap: 40px
    row-gap: 40px
    grid-column-gap: 50px
    column-gap: 50px
    overflow: visible
    width: 100%
    margin-bottom: 40px
    justify-content: center
  .empty
    display: flex
    justify-content: center
    align-items: center
  
  /* Ой, тут пусто. Создайте мероприятие нажав на соответствующую кнопку в верхней части профиля. */
.EmptyEventsText
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 23px
  text-align: center
  color: #919191
  width: 50vw
.EventsEmpty
  display: flex
  margin: 0 auto
  flex-direction: column
  align-items: center
  img
    margin: 0 auto 50px auto
  
.link
  color: rgba(90, 174, 129, 1)
  text-decoration: none

@media (max-width: 1250px)
  .profileEvents
    .eventsContent
      justify-content: center

@media (max-width: 455px)
  .profileEvents
    .eventsContent
      display: flex
      flex-wrap: wrap
      justify-content: space-around