.checkboxWrapper
	&:last-child 
		border-bottom: none 
		margin-bottom: 0 
	label 
		cursor: pointer 
		display: flex
		font-family: 'Roboto'
		font-style: normal
		font-weight: 400
		font-size: 14px
		line-height: 22px
		color: rgba(0, 0, 0, 0.88)
		user-select: none
		align-items: center
		gap: 8px
	input[type="checkbox"] 
		-webkit-appearance: none 
		appearance: none 
		width: 16px 
		height: 16px
		border: 2px solid #5AAE81 
		outline: none 
		cursor: pointer
		flex-shrink: 0
	input[type="checkbox"]:disabled 
		background-color: #c0c0c0 
		& + span 
			color: #c0c0c0 
label 
	& + p 
		color: grey 
input 
	&.checked 
		background-color: #5AAE81 
		position: relative 
.check
	font-size: 16px 
	color: #fff 
	position: absolute
	transform: translate(5px, -1px)