.Green
  width: 400px
  min-height: 420px
  background: #69CC96
  border-radius: 10px
  position: relative
  padding: 60px 30px
  display: flex
  flex-direction: column
  gap: 20px

  .number
    position: absolute
    top: 10px
    right: -7px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 72px
    line-height: 30px
    text-align: right
    letter-spacing: 0.1em
    color: #FFFFFF
  .header
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: #FFFFFF
    max-width: 300px
  .text
    top: 150px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 30px
    color: #FFFFFF
    max-width: 340px

@media (max-width: 1439px)
  .Green
    width: calc((100vw - 65px) / 3)

@media (max-width: 920px)
  .Green
    width: calc(100vw - 30px)

@media (max-width: 920px)
  .Green
    min-height: 1px
    .text
      font-size: 18px
      line-height: 25px