.ModalBody
  width: 100%
  height: 500px
.UploadContainer
  width: 100%
  padding: 15px
.UploadBox
  width: 100%
  border: 2px dashed black
  border-radius: 5px
  min-height: 300px
  display: flex
  flex-direction: column
  align-items: center
  height: 1px
  &:hover
    background-color: #e9e8e8
    cursor: pointer
  canvas
    transform-origin: top left
    transform: scale(0.379)
.UploadBoxDrop
  background-color: #e9e8e8
  border: none
.Header
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-size: 20px
  line-height: 24px
  align-items: center
  color: #000000
  margin: 20px 15px
.underline
  width: 100%
  height: 1px
  background: #d3d1d1
.ProfileImg
  background: rgba(0, 0, 0, 0.85)
  transform: matrix(1, 0, 0, 1, 0, 0)
  object-fit: cover
  margin: auto
.Footer
  padding: 0 15px
  display: flex
  margin-top: 50px
  gap: 15px
.UploadBoxText
  font-family: 'Roboto'
  font-style: normal
  font-weight: 200
  font-size: 20px
  line-height: 24px
  align-items: center
  color: #000000
  margin: 20px 10px
  text-align: center